#root {
  max-width: 100%;
  margin: 0 auto;
  /* padding: 4px 2rem 2rem 2rem; */
  text-align: center;
}

.App {
  display: flex;
  flex-direction: column;
  row-gap: 1rem;
}

.context {
  padding-top: 0;
  height: 10rem;
  width: 100vw;
  /* background-color: red; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.footer {
  padding-top: 0;
  height: 10rem;
  width: 100vw;
  /* background-color: blue; */
  font-family: Georgia, 'Times New Roman', Times, serif;
}
